<html>
    <head>
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/paginascss.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:8081/css/paginascss.css" />
        <style>

            body{
                background-image: url('images/background2.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        
        </style>
    </head>
    <body>
<br>

        <h1>MENU Cliente</h1>
        <br>

<!--     MENU    -->
    <nav class="navbar navbar-dark bg-dark">
                
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            <a class="nav-link" href="#"> OPÇÕES <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="usersClientes">USERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="livrosClientes">LIVROS</a>
            </li>
        </ul>
        </div>
    
    </nav>
<!------------------------------------------------------------------------------------------------------>
    
    </body>
</html>