<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="css/default.css">
</head>
<body>

    <form action="/inserirlivro" method="post">
        <label for="id">Numero:</label>
        <input type="number" id="id" name="id"><br><br>
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn"><br><br>
        <label for="titulo">titulo:</label>
        <input type="text" id="titulo" name="titulo"><br><br>
        <label for="numeroPaginas">Número de Páginas:</label>
        <input type="number" id="numeroPaginas" name="numeroPaginas"><br><br>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock"><br><br>
        <label for="idEditora">Id Editora:</label>
        <input type="number" id="idEditora" name="idEditora"><br><br>

        <input type="submit" value="Submit">
    </form>




</body>
</html>