<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="css/default.css">
</head>
<body>

    <form action="/inseriruser" method="post">
        <label for="id">Numero:</label>
        <input type="text" id="id" name="id"><br><br>
        <label for="user">Username:</label>
        <input type="text" id="user" name="user"><br><br>
        <label for="pass">password:</label>
        <input type="text" id="pass" name="pass"><br><br>
        <input type="submit" value="Submit">
    </form>




</body>
</html>