<!DOCTYPE html>
<html>
<head>
    <title>Inserir - Livro</title>
    <link rel="stylesheet" href="css/default.css">
</head>
<body>

    <form action="/livros" method="post">
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn"><br><br>
        <label for="titulo">titulo:</label>
        <input type="text" id="titulo" name="titulo"><br><br>
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao"><br><br>
        <label for="numeroPaginas">Número de Páginas:</label>
        <input type="number" id="numeroPaginas" name="numeroPaginas"><br><br>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock"><br><br>
        <label for="idEditora">Id Editora:</label>
        <input type="number" id="idEditora" name="idEditora"><br><br>

        <input type="submit" value="Submit">
    </form>

    <table align="center" style="text-align: center;" class="table">
        {{#tabela}}
        <tr style="background-color: black; color: white;"> <td> Id </td> <td> ISBN </td> <td> Titulo </td> <td> Número de Páginas </td> <td> Stock </td><td> Editora </td> <td> ELIMINAR</td><td> ALTERAR</td> </tr>

        {{/tabela}}

        {{#editoras}}
                

                <tr>
                    <td>{{idEditora}}</td>
                    <td>{{nomeEditora}}</td>
                    <td>{{sigla}}</td>
                    <td>{{morada}}</td>
               </tr>
        {{/editoras}}
        <center><b>{{alert}}</b></center>
    </table>




</body>
</html>