<html>
    <head>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <meta charset="utf-8">
        
    </head>
    <body>
        <h1>Livros</h1>
        <br><br>
        <a href="inserirLivroform">Inserir livro</a>   
        <br><br>
        <label for="idpesquisa">Pesquisa por id:</label>
        <input type="number" id="idpesquisa" name="idpesquisa"><button type="button" onclick="pesquisar()">Pesquisar<img width="10" height="10" src="images/search.png"></button><br>
        <br><br>
        <br>
       

        

        <table align="center" style="text-align: center;" class="table">
                {{#tabela}}
                <tr style="background-color: black; color: white;"> <td> Id </td> <td> ISBN </td> <td> Titulo </td> <td> Número de Páginas </td> <td> Stock </td><td> Editora </td> <td> ELIMINAR</td><td> ALTERAR</td> </tr>
  
                {{/tabela}}

            {{#livros}}
                    

                    <tr>
                        <td>{{idLivro}}</td>
                        <td>{{isbn}}</td>
                        <td>{{tituloLivro}}</td>
                        <td>{{numeroPaginas}}</td>
                        <td>{{stock}}</td>
                        <td>{{nomeEditora}}</td>
                        <td> <button onclick="eliminar({{idLivro}});"><img width="20" height="20" src="http://localhost:8081/images/delete.png"></button>  </td>
                        <td> <a href="http://localhost:8081/updatelivro/{{idLivro}}"><button><img width="20" height="20" src="http://localhost:8081/images/update.png"></button></a>  </td>
                    </tr>
            {{/livros}}
            <center><b>{{alert}}</b></center>
        </table>
    </body>

    <script>
        function pesquisar() {
            var id = document.getElementById("idpesquisa").value;
            if (id==""){
                alert("Campo de pesquisa tem de ter um valor!");
            }else{
                 location.replace("http://localhost:8081/livros/"+id)
            }
        }

        function eliminar(id) {
            var id = document.getElementById("idEliminar").value;
            if (id==""){
                alert("Campo de pesquisa tem de ter um valor!");
            }else{
                 location.replace("http://localhost:8081/livrosEliminar/"+id)
            }
        }

        
    </script>
</html>