<html>
    <head>
    </head>
    <body>
        <h1>USERS</h1>
        <br><br>
        <a href="inseriruserform">Inserir user</a>   
        <br><br>
        <a href="form-post-aluno">listar users</a>  
        <br><br>
        <table>
        {{#users}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{user}}</td>
                    <td>{{password}}</td>
                    <td>{{admin}}</td>
                </tr>
        {{/users}}
        </table>

    </body>
</html>