<html>
    <head>
    </head>
    <body>
        <h1>USERS</h1>
        <br><br>
        <a href="inseriruserform">Inserir user</a>   
        <br><br>
        <label for="idpesquisa">Pesquisa por id:</label><br>
        <input type="number" id="idpesquisa" name="idpesquisa"><button type="button" onclick="pesquisar()">Pesquisar</button>
        <br><br>
        <table>
        {{#users}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{user}}</td>
                    <td>{{password}}</td>
                    <td>{{admin}}</td>
                </tr>
        {{/users}}
        </table>
        {{alert}}

    </body>
</html>

<script>
    function pesquisar() {
        var id = document.getElementById("idpesquisa").value;
        if (id==""){
            alert("Campo de pesquisa tem de ter um valor!");
        }else{
             location.replace("http://localhost:8081/users/"+id)
        }
    }
</script>