<html>
    <head>
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        
        <meta charset="utf-8">
        

    </head>
    <body>
        <h1>USERS</h1>
        <br><br>
        <a href="http://localhost:8081/inseriruserform">Inserir user</a>   
        <br><br>
        <label for="idpesquisa">Pesquisa por id:</label><br>
        <input type="number" id="idpesquisa" name="idpesquisa"><button type="button" onclick="pesquisar()">Pesquisar</button>
        <br>
        <input type="number" id="idelimina" name="idelimina"><button type="button" onclick="eliminar()">Eliminar</button>
        <br><br>
        <table align="center" style="text-align: center;" class="table">
            {{#tabela}}
                <tr style="background-color: black; color: white;"> <td> Id </td> <td> Nome </td> <td> Email </td> <td> Telemovel </td> <td> Telemovel (secundário) </td> <td> Administrador </td> </tr>
  
            {{/tabela}}

        {{#users}}
                <tr>
                    <td>{{idconta}}</td>
                    <td>{{nomeConta}}</td>
                    <td>{{emailConta}}</td>
                    <td>{{telemovel}}</td>
                    <td>{{optionalTel}}</td>
                    <td>{{administrador}}</td>
                    <td> <button onclick="eliminar({{idconta}});"><img width="20" height="20" src="images/delete.png"></button>  </td>
                </tr>
        {{/users}}
        </table>
        {{alert}}

    </body>
</html>

 <script>
    


    function pesquisar() {
        var id = document.getElementById("idpesquisa").value;
        if (id==""){
            alert("Campo de pesquisa tem de ter um valor!");
        }else{
             location.replace("http://localhost:8081/users/"+id)
        }
    }

    function eliminar(id) {
        console.log(id);
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "http://localhost:8081/users/", true);
        xhttp.setRequestHeader("Content-type", "");
        xhttp.send(JSON.stringify({"id":id}));
    }
</script>